<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="serilog" type="Serilog.Configuration.AppSettingsReader, serilog" />
	</configSections>

	<connectionStrings>
		<add name ="CriptoManager" connectionString="Database/CryptoManagerDB.db"/>
	</connectionStrings>

	<serilog>
		<using>
			<add assembly="Serilog.Sinks.SQLite"/>
		</using>
		<sinks>
			<sqlite>
				<autoCreateSqlTable>true</autoCreateSqlTable>
				<tableName>Logs</tableName>
				<columns>
					<!--Extra Columns-->
					<column columnName="Modulo" dataType="nvarchar" dataLength="1000" allowNull="false" propertyName="Modulo" />
					<column columnName="NomeMaquina" dataType="nvarchar" dataLength="100" allowNull="false" propertyName="NomeMaquina" />
					<!--Nullable para não ignorar erros de autenticação-->
					<column columnName="Versao" dataType="nvarchar" dataLength="10" allowNull="false" propertyName="Versao" />
				</columns>
				<!--Standard Columns-->
				<level dataLength="15" allowNull="false" />
				<message allowNull="false" />
				<messageTemplate allowNull="false" />
				<properties allowNull="false" />
				<timeStamp allowNull="false" />
			</sqlite>
		</sinks>
	</serilog>

	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DefaultAppSkin" serializeAs="String">
				<value>CompactSkin/WXI</value>
			</setting>
			<setting name="DefaultPalette" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CompactUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchScaleFactor" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DirectX" serializeAs="String">
				<value></value>
			</setting>
			<setting name="RegisterUserSkins" serializeAs="String">
				<value></value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="FontBehavior" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DefaultAppFont" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CustomPaletteCollection" serializeAs="Xml">
				<value />
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>